
body {
    margin:0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'consolas', sans-serif;
    font-family: 'Montserrat', sans-serif !important;    
    position: relative;
    width: 100%;
    height: 100%;
    background:rgba(255,240,225,.2);
}

* {
    position: relative;
}
visit, requirements, add, existing {
    background:white;
}


accoutrements, filemanager, h1 {
    padding:20px;
    display: flex;
    flex-direction: column;
    max-width: 1269px;
    margin:auto;
}
h1 {
    flex-direction: row;
}
a,a:visited {
    text-decoration: none;
    color:steelblue;
}
a:hover {
    color:orangered;
}

input,select,textarea,button {
    font-family: 'consolas', sans-serif;
    font-family: 'Montserrat', sans-serif !important;
}
add, existing {
    padding: 15px;
    margin: 15px 0;
} existing {
    padding: 15px 0;
}

add {
    outline: 1px solid rgba(64,64,64,1);
    display: flex;
    flex-direction: column;    
}


add::before,table::before {
    content:'upload new fauxilizer 5000 output file';
    text-transform: uppercase;
    color:white;
    background: rgba(64,64,64,1);
    position: absolute;
    padding:5px;
    top:-20px;
    left:-1px;
    right:-1px;
}

upload {
    width:625px;
    padding:10px 0;
    display: flex;
    justify-content: space-between;
}


table {
    border-radius: 4px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.16);
    font-size: 14px;    
    width: 100%;
}
table::before {
    content: 'existing file summaries';
}

th, td {
    padding:5px;
}
th {
    background: rgba(0,25,49,.7);
    color:white;
    text-transform: capitalize;
    border-radius: 2px;
    font-weight: 400;
}
tr:hover td {
    background: rgba(49,144,255,.25);
}
tr.invalid {
    color:rgba(0,0,0,.7);
}
tr.invalid td:nth-child(2) {
    background: rgba(225,81,49,1);
    text-transform: uppercase;
    font-weight: 500;
    color:white;
}
th:nth-child(9),th:nth-child(10) {
    background: rgba(0,144,121,1);
}
td:nth-child(9),td:nth-child(10) {
    background:white!important;
}

csv,json,delete,py,browse,generate,enabler,save button  {
    background: rgba(64,196,81,1);
    padding:3px;
    margin:2px;
    border-radius: 2px;
    color:white;
    min-width: 50px;
    text-align: center;
    font-size:12px;
    text-transform: uppercase;
    transition-duration: .5s;
}
delete {
    background: rgba(225,81,49,1);
}
csv {
    background: rgba(121,81,144,1);
}
py {
    background: rgba(121,81,225,1);
}
delete::before {
    content:'⚠';
}
csv:hover, json:hover,py:hover,delete:hover, browse:hover,generate:hover,enabler:hover,save button:hover {
    cursor: pointer;
    filter: brightness(1.5);
    transition-duration: .5s;
}
browse,generate,enabler {
    background: rgba(121,81,225,1);
    font-size: 14px;
    padding:5px;
}
enabler {
    background: rgba(81,81,81,1);
}
enabler.active {
    background:rgba(81,121,225,1);
}
enabler::before {
    content:'◍';
    margin: 0 5px;
    color:rgba(81,81,81,1);
}
enabler.active::before {
    content:'✔';
    color:white;
}
spinner {
    display: none;
    width:41px;
    height: 41px;
    border-radius: 81px;
    animation: spin 2s linear infinite;
    position: absolute;
    left:50%;
    top:40%;
    transform: translate(-50%, -50%);
    z-index: 99;
    box-shadow: 0 0 225px 225px rgba(255,255,255,0);
}
spinner::before{
    content: 'x';
    position: absolute;
    right:-20px;
    top:-20px;
    width:14px;
    height: 14px;
    border-radius: 11px;
    color:rgba(0,0,0,0);
    background:rgba(255,63.75,127.5,1);
}
spinner::after{
    content: 'x';
    position: absolute;
    right:-20px;
    bottom:-20px;
    width:14px;
    height: 14px;
    border-radius:11px;
    color:rgba(0,0,0,0);
    background:rgba(255,63.75,127.5,1);
}
@keyframes spin {
    0% {
        outline: 11px solid rgba(255,63.75,127.5,1);
        transform:rotate(0deg);
    }
    50% {
        outline: 0px solid rgba(255,127.5,127.5,1);
        transform:rotate(360deg);
    }
    100%{
        outline: 11px solid rgba(255,63.75,127.5,1);
        transform:rotate(720deg);
    }
}
spinner.active{
    display: initial;
    box-shadow: 0 0 225px 225px rgba(255,255,255,1);
}

messager {
    position: fixed;
    bottom: -400px;
    left: 50%;
    transform: translate(-50%, 0);
    transition-duration:.81s;
    border: 9px solid rgba(64,64,64,1);
    border-radius: 2px;
    box-shadow: 0 0 5px 2px rgba(0,81,255,.1);
    padding:10px;
    min-width:400px;
    height: max-content;
    max-height: 400px;
    background:white;
    z-index:2;
    box-shadow: 0 0 225px 100px rgb(0 0 0 / 0%);
}
messager.active {
    transition-duration:.64s;
    bottom:200px;
    box-shadow: 0 0 225px 225px rgba(255,255,255,1);
}
messager::before {
    content: '⮽ CLOSE';
    position: absolute;
    background: rgba(64,64,64,1);
    color: white;
    top: -20px;
    right: -20px;
    padding: 5px;
    border-radius: 4px;
    z-index: 5;
}
messager:hover::before {
    cursor: pointer;
    color:orangered;
}
message {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: max-content;
    border-radius: 4px;
    padding:10px;
    background:rgba(0,0,0,.1);
    overflow:hidden;
}
message pre {
    background: white;
    padding:5px;
    border-radius:5px;
    white-space: break-spaces;
}
message h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    margin:5px 0;
}
message h4::before {
    font-size: 40px;
    padding: 10px 10px 0 0;    
    line-height: 0px;
    vertical-align: middle;
}
message.information {
    outline: 1px solid rgba(121,81,225,1);
    background: rgba(121,81,225,.081);
}
message.information h4::before {
    content: '🛈';
    color:rgba(121,81,225,1);
}
message.action {
    outline: 1px solid rgba(225,36,25,1);
    background: rgba(225,36,25,081);
}
message.action h4::before {
    content: '🙾';
    color:rgba(225,36,25,1);
}
message.success {
    outline: 1px solid 1px solid rgba(25,225,81,1);
    background: rgba(25,225,81,081);
}
message.success h4::before {
    content: '✔';
    color: rgba(25,225,81,1);
}
message.error {
    outline: 2px solid 1px solid rgba(225,25,81,1);
    background: rgba(225,25,81,.081);
}
message.error h4::before {
    content: '⚠';
    color:rgba(225,25,81,1);
}

h1 left {
    background: linear-gradient(90deg,rgba(0,144,121,1),rgba(0,144,169,1));
    color:white;
    padding: 5px 10px;
    border-radius: 4px;;
}
h1 right {
    padding:0 5px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 200;
}
paperclips {
    position: absolute;
    transform: scale(-100%) rotate(49deg);
    font-size: 25px;
    line-height: 22px;
}
a:hover paperclips {
    transform: scale(-100%) rotate(16deg);
}

a, a:hover, a:hover paperclips, tr, tr:hover,csv,json,delete,csv:hover,json:hover,delete:hover, message, message.active {
    transition-duration:.5s;
}

tr.spacer {
    height: 10px;
}

#file-add {
    display:none;
}

svmmary table::before {
    content: 'summary' !important;
    background: rgba(121,81,225,1) !important;
}

visit,requirements,status {
    padding:10px;
    border-radius:4px;
    margin:10px 0;
}

visit {
    border: 1px solid rgba(121,81,225,1);
}
visit::before,requirements::before,status::before {
    position: absolute;
    top: -11px;
    right: 49px;
    background: white;
    border: 1px solid rgba(121,81,225,1);
    border-radius: 6px;
    padding: 2px 12px;
    content: 'resources';
    text-transform: uppercase;
    font-size: 12px;
}

requirements {
    border: 1px solid rgba(0,144,121,1);
}
requirements::before {
    border: 1px solid rgba(121,81,225,1);
    border-radius: 6px;
    content: 'assignment requirements';
}
spacer {
    flex:2;
}

pastein,save {
    display: flex;
    flex-direction: column;
    margin: 5px 0 20px 0;
}
save {
    flex-direction: row;
    width:625px;
}
save button {
    padding: 0 8px;
    border:none;
    outline:none;
    font-size: 16px;
    font-weight: 600;;
    filter:grayscale(.81);
    height: 40px;
}
save button.active {
    filter:grayscale(0);
}
save button:hover {
    filter:brightness(1.0)!important;
}
save button.active:hover {
    filter:brightness(1.2);
}
save status {
    border: 1px solid rgba(0,144,121,1);
    border-radius: 2px;
    font-family: 'consolas',sans-serif;
    flex:8;
}
save status::before {
    content:'status'; 
}
pastein textarea {
    width:625px;
    min-height:144px;
    outline: 1px solid rgba(64,64,64,1);
    background: rgba(64,81,64,.05);
    border:none;
    border-radius:4px;
    color:rgba(121,81,225,1);
    padding: 10px;
    margin: 10px 0;
}