<!DOCTYPE html>
<html>
    <head>
        <title>Amyris</title>
        <link rel='icon' type='image/png' href='https://benromney.netlify.app/icon.ico'>
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
        <link href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap' rel='stylesheet'>
        <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style.css") }}' />
    </head>
    <body>
        <spinner></spinner>
        <messager></messager>
        <h1>
            <left>amyris code exercise</left><right>fauxilizer 5000</right>
        </h1>            
        <accoutrements>
        </accoutrements>
        <filemanager>
            <add>
            </add>
            <existing>                
            </existing>
        </filemanager>
        <script type='module' src='ui.js'></script>
    </body>
</html>